[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "==1.0.0"
flask-cors = "==3.0.10"
tree = "*"
flask-jwt-extended = "*"
werkzeug = "*"
marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.8"
