[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "==2.9.7"
flask-jwt-extended = "*"
gunicorn = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-migrate = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.8"
