[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
psycopg2-binary = "==2.9.7"
flask-migrate = "*"
flask-cors = "==4.0.0"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
